// Angular
script(src='js/angular/lib/angular.min.js')
script(src='js/angular/lib/angular-sanitize.min.js')
script(src='js/angular/lib/ui-bootstrap-tpls-0.4.0.min.js')
script(src='js/angular/lib/ui-utils.min.js')
