// Loading Bootstrap
link(rel='stylesheet', href='/styles/lib/bootstrap/css/bootstrap.css')
// link(rel='stylesheet', href='/styles/lib/bootstrap/css/bootstrap-responsive.css')

// Loading Flat UI
link(rel='stylesheet', href='/styles/css/flat-ui.css')

// PC Builder specific styles

// HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
//if lt IE 9
    script(src='/js/flatUi/html5shiv.js')