// Load JS here for greater good
// Bootstrap and Flat UI
script(src='js/flatUi/jquery-1.8.3.min.js')
script(src='js/flatUi/jquery-ui-1.10.3.custom.min.js')
script(src='js/flatUi/jquery.ui.touch-punch.min.js')
script(src='js/flatUi/bootstrap.min.js')
script(src='js/flatUi/bootstrap-select.js')
script(src='js/flatUi/bootstrap-switch.js')
script(src='js/flatUi/flatui-checkbox.js')
script(src='js/flatUi/flatui-radio.js')
script(src='js/flatUi/jquery.tagsinput.js')
script(src='js/flatUi/jquery.placeholder.js')
script(src='js/flatUi/jquery.stacktable.js')
script(src='js/flatUi/application.js')